.insertPhoneNumber-container {
  display: grid;
  place-items: center;
}

.containerInput__InsertPhoneNumber {
  display: grid;
  grid-template-columns: 40%;
  justify-content: center;
}
/* text welcome sab */
.text-welcome-sab {
  font-family: "IRANYekanBlack" !important;
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #1e272e;
}
.text-reguest-form {
  font-size: 0.8rem;
  font-weight: 900;
  color: #57606f;
  margin-right: 1rem;
  font-family: "IRANYekanRegular";
  margin: 0 1rem;
}

/* btn submit */
.btn-container {
  padding-left: 155px;
  margin-top: 40px;
}

.btn-custom-submit-form {
  border-radius: 1rem !important;
  padding: 0.3rem 2rem !important;
}

.test-mm {
  margin-top: 5rem !important;
}
@media all and (max-width: 322px) {
  .test-mm {
    margin-top: 1.5rem !important;
  }
}
.text-condition-sab {
  font-size: 0.77rem;
  font-weight: 900;
  font-family: "IRANYekanRegular";
}

.containerText {
  right: 0%;
  left: 0%;
}

.icon_input_inserphone {
  margin-bottom: 0.75rem;
}
