.signUp__fullName_Upcreditamout {
  width: 100%;
  height: 32px;
  outline: 0.12rem solid #57606f!important; 
  padding: 0.3rem 0.5rem;
  font-family: "IRANYekanBold" !important;
  font-size: 0.85rem;
  border-radius:0.25rem;
  background-color: transparent;
}
/* content */
.circle_item {
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #0096f5;
  border-radius: 50%;
}
.container_content {
  border-radius: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.container_content > div > div {
  padding: 0.6rem 0;
}

.container__input {
  display: grid;
  grid-template-columns: 40%;
  justify-content: center;
  padding-top: 3rem;
}

.container__card {
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
}

@media all and (max-width:900PX){
  .container__card{
    grid-template-columns: 100%;
  }
}
.input__content_dashbord {
  font-size: 1.2rem !important;
  border: 1px solid #dcdde1 !important;
  color: #718093;
  /* padding: 0.85rem 0 !important; */
}

/* signUp */
.container_steps{
  border-radius: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.container__input__signUp {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  grid-gap: 2rem;
  padding: 0rem 0 5rem 0;
}

.steps__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2.5rem 0 5rem 0;
}

.steps__header > div {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: relative;
}
.steps__header > div > span {
  font-size: 0.95rem !important;
  font-family: IRANYekanBold;
  position: absolute;
  right: -0.3rem;
  bottom: -1.4rem;
  white-space: nowrap;
}
.steps__header > div:nth-child(2) > span {
  right: -1rem;
}
.reletive {
  position: relative;
}
.yyy {
  position: absolute;
  left: -10%;
  right: 0;
  top: 25%;
  bottom: 0;
}
@media all and (max-width:750px){
  .yyy{
    position: absolute;
    left: -40%;
    right: 0;
    top: 25%;
    bottom: 0;
  }
}
.container__info__signUp {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  padding: 0rem 0 5rem 0;
}
.container__info__signUp > div > div {
  border: 1px solid #2c3e50;
}
.container__info__signUp > div > div:not(:nth-child(1)) {
  border-top: none !important;
  border-bottom: none !important;
}

.object {
  animation: MoveUpDown 1s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
}

.btn__sgnUpPcredimount {
  border: 1px solid white;
  background-color: #0096f5;
  outline: none;
  color: white;
  font-family: IRANYekanBold;
  font-size: 0.75rem;
  padding: 0.45rem 0.85rem;
  border-radius: 0.35rem;
}
.btn__success_sgnUpPcredimount {
  border: 1px solid white;
  background-color: #1d4714;
  outline: none;
  color: white;
  font-family: IRANYekanBold;
  font-size: 0.75rem;
  padding: 0.45rem 0.85rem;
  border-radius: 0.35rem;
}

.container__btn_signUp {
  display: grid;
  grid-template-columns: 90%;
}

.copy__code {
  background-color: #0096f5;
  color: white;
  padding: 0.35rem 0.95rem;
  border-radius: 0.35rem;
  cursor: pointer;
}

.border_verify_info {
  border: 1px solid #2c3e50;
}
.bottom_border {
  border-right: 1px solid #2c3e50;
  border-left: 1px solid #2c3e50;
  border-top: 1px solid #2c3e50;
  border-bottom: none;
}

.container__formSignUp_customer {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
}
@media all and (max-width: 800px) {
  .container__formSignUp_customer {
    grid-template-columns: 90%;
  }
}
.border__signUPForm {
  /* border: 2px solid #fc2904; */
  border-radius: 3rem;
  margin-bottom: 7rem;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.border__verifyConter {
  border: 1px solid green;
  border-radius: 3rem;
  margin-bottom: 7rem;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.border__disabel {
  border: 1px solid #f7f7f7 !important;
  background-color: #f7f7f7 !important;
}
@media all and (max-width: 800px) {
  .border__signUPForm {
    margin-top: 3rem;
  }
  .border__verifyConter {
    margin-top: 3rem;
  }
}

.container__inputs__formSignUp {
  display: grid;
  grid-template-columns: 30%;
  grid-gap: 1.8rem;
  justify-content: space-around;
  border-radius: 0.95rem;
  position: relative;
  padding: 0.85rem;
}
@media all and (max-width: 800px) {
  .container__inputs__formSignUp {
    grid-template-columns: 80%;
    justify-content: center;
  }
}

.title__formSignUp_customer {
  position: absolute;
  background-color: #fff;
  top: -2.5rem;
  right: 6%;
  padding: 1rem 2rem;
  border-radius: 0.35rem !important;
  box-shadow: #a19998 0px 8px 24px;
}
.title__formSignUp_customer > p {
  font-size: 1rem;
}

.container_input_signUp {
  width: 100%;
  position: relative;
}
.container_input_signUp > p {
  margin: 0;
}
.container_input_signUp > input {
  width: 100%;
  border: 0.12rem solid #57606f;
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  font-family: "IRANYekanBold" !important;
  font-size: 0.85rem;
  outline: none;
  background-color: transparent;
}
.container_input_signUp > input:focus {
  outline: none;
  border: 0.12rem solid #57606f;
}

.continer__btn_signUpForm {
  display: grid;
  grid-template-columns: 84%;
  justify-content: center;
  margin-top: 2rem;
}

.continer__btn_signUpForm button {
  font-family: "IRANYekanBold" !important;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  color: white;
  padding: 0.25rem 1.5rem;
  margin-bottom: 1rem;
  background-color: #0096f5 !important;
  border: 1px solid #0096f5 !important;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
}

.contaner__card {
  display: grid;
  grid-template-columns: 30%;
  justify-content: center;
}

.container_text_explain > p {
  font-size: 1.2rem;
  color: #666666;
}

@media all and (max-width: 1200px) {
  .contaner__card {
    grid-template-columns: 40%;
  }
}
@media all and (max-width: 800px) {
  .contaner__card {
    grid-template-columns: 80%;
  }
}
/* ribon */

.box {
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  overflow: hidden;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #f2194a;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 215px;
  padding: 15px 0;
  background-color: #fc2904;
  font-family: "IRANYekanBlack" !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

.precent{
  font-size: 3.2rem;
  color: #0096f5;
}

.money__{
  font-size: 2rem;
  color:#0096f5;
}

.cnnn{
  font-size: 0.95rem !important}
  .cnmmn{
    font-size: 1rem !important;
  }

.custom_style_precent > div{
  padding: 0 1.4rem;
}
.container__selectName {
  display: flex;
  align-items: center;
}
.custom-style-border{
  width: 100%;
  height: 2px;
  background-color: #f5f6fa;
  margin-top: 1rem;
}
.title {
  padding-left: 0.75rem;
}
.label1 {
  padding-left: 0.3rem;
  font-size: 0.8rem;
}
.label2 {
  padding-left: 0.3rem;
  font-size: 0.8rem;
}

.input__how_count {
  border: 1px solid #57606f;
  border-radius: 0.25rem;
  padding: 0.35rem 0.35rem;
}
.input__how_count:focus {
  border: 1px solid #57606f;
  outline: none;
}

.text_validation {
  color: #fc2904;
}

.result-btn {
  border: 1px solid green;
  background-color: green;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0.75rem 0;
}
.faild-btn {
  border: 1px solid #0096f5;
  background-color: #0096f5;
  color: white;
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
  margin: 0.75rem 0;
}

.info-border {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ********************************steps******************************** */
.step_item {
  width: 3.5em;
  height: 3.5em;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  background: dodgerblue;
  margin: 0 8rem;
  display: inline-block;
  color: white;
  position: relative;
  z-index: 9999;
}

.step_item::before{
  content: '';
  position: absolute;
  top: 50%;
  left: -18rem;
  width: 20rem;
  height: .2em;
  background: dodgerblue;
  z-index: 1;
}

@media all and (max-width:1100px) {
  .step_item{
    margin: 0 6rem;
  }
  .step_item::before{
    left: -14rem;
    width: 17rem;

  }
}
@media all and (max-width:940px) {
  .step_item{
    margin: 0 5rem;
  }
  .step_item::before{
    left: -12rem;
    width: 14rem;

  }
}
@media all and (max-width:750px) {
  .step_item{
    margin: 0 3rem;
  }
  .step_item::before{
    left: -9rem;
    width: 10rem;

  }
}
.step_item:last-child::before {
  display: none;
}

.active {
  background: dodgerblue;
}

.active ~ li {
  background: lightblue;
}

.active ~ li::before {
  background: lightblue;
}
