.contaner__choiceIMg {
  height: 36px !important;
  width: 80%;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media all and (max-width: 900px) {
  .contaner__choiceIMg {
    width: 60%;
  }
}
@media all and (max-width: 642px) {
  .contaner__choiceIMg {
    width: 80%;
  }
}

input[type="file"] {
  display: none;
}

.input__choice__file::before {
  content: " ";
  height: 40px !important;
  padding: 0.66rem 0.13rem;
  border-right: 2px solid #eee;
}
.arrow__icon__choice_File {
  margin-left: 0.25rem;
  margin-top: 0.5rem;
  cursor: pointer;
}
.title__choice__image {
  padding: 0 0.75rem;
  color: #eee;
  font-family: IRANYekanBold;
  font-size: 0.85rem;
}

.img__choiced__user img {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  margin: 0 0.8rem;
}

.titleNameProfile {
  font-size: 0.75rem;
  color: #0096f5;
}
.subtitleNameProfile {
  font-size: 0.85rem;
  color: rgb(90, 89, 89);
  padding-top: 0.45rem;
  padding-bottom: 0.4rem;
}
