.container-custom-login {
  height: 90vh;
}

.icon-password-login {
  width: 1rem;
  height: 1rem;
}

.btn-custom-Submit-login {
  width: 100px !important;
  height: 40px !important;
  border-style: none;
  background-color: #0096f5;
  color: #fff;
  border-radius: 10px;
}

.btn-custom-Submit-login:hover {
  color: #fff;
}

.btn-forget-password {
  font-size: 0.8rem;
  font-weight: 900;
  font-family: "IRANYekanBold";
}

.icon-password-login {
  height: 18px;
  width: 18px;
  margin-top: -0.55rem !important;
}
.icon-username-login {
  width: 13px !important;
  height: 13px !important;
}
