.container_CounterOfficeCode{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 2rem;
}
.container__verifyInfo{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}

.container__tableInfo_verify{
    display: grid;
    grid-template-columns: 50%;
    justify-content: center;
}
.container__tableInfo_verify > div{
    border: 1px solid #353b48;
}
.container__tableInfo_verify > div:nth-child(1),
div:nth-child(2),div:nth-child(3){
    border-bottom: none !important;
}

.container__tableInfo_verify_btn{
    display: grid;
    grid-template-columns: 26.5%;
    justify-content: center;
}