.container-custom {
  height: 90vh;
}
.text-reguest-code {
  font-weight: 900;
  font-size: 1rem;
  font-family: "IRANYekanBlack";
}

.custom-input-regust-code {
  width: 280px !important;
  height: 35px;
  border-radius: 15px !important;
  background-color: transparent;
  background: #eee;
  color: #525865;
  border: 1px solid #d1d1d1;
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.07);
  font-size: 0.77rem;
  font-weight: 800;
  outline: none;
  -webkit-transition: 0.18s ease-out;
  -moz-transition: 0.18s ease-out;
  -o-transition: 0.18s ease-out;
  transition: 0.18s ease-out;
  padding: 0 1rem;
  direction: ltr !important;
}
.custom-input:focus {
  border: 1px solid #d1d1d1;
  border-radius: 15px !important;
}

.btn-container-reguest-code {
  padding-left: 155px;
  margin-top: 50px;
}
.input_verifyCode::placeholder {
  font-size: 0.8rem !important;
}

.icon__verifyCode {
  margin-bottom: 0.75rem;
}
.btn-reguest-code {
  width: 120px;
  height: 35px;
  color: #fff;
  background-color: #0096f5;
  border-radius: 15px;
  font-size: 14px;
  border: none;
}

.errorCode {
  font-size: 0.8rem;
  font-weight: 900;
}
