@font-face {
  font-family: "IRANYekanBold";
  src: url("./font/IRANYekanBold.ttf") format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "vazir";
  background: #f2f2f2 !important;
}
body {
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
}

.fontfamily {
  font-family: "IRANYekanBold" !important;
}
.fony75 {
  font-size: 0.75rem;
}
.fony80 {
  font-size: 0.8rem;
}
.fony85 {
  font-size: 0.85rem;
}
.margin__right {
  margin-top: 60px;
  margin-right: 300px;
}

.app-sidebar:before {
  z-index: -1 !important;
}
