
/* style for postition */


/* text welcome sab */
.text-welcome-sab{
  font-size: 1.5rem;
  margin-right: 1rem;
  color:#1e272e;
  font-family: "IRANYekanBold" !important;
}
.text-reguest-form {
  font-size: 0.80rem;
  font-weight: 900;
  color: #57606f;
  margin-right: 1rem;
  margin: 0 1rem;
  font-family: "IRANYekanBold" !important;
    
}

/* btn submit */
.btn-container {
  padding-left: 155px;
  margin-top: 40px;
}


.btn-custom-submit-form {

  border-radius: 1rem !important;
  padding: 0.30rem 2rem !important;


}

.test-mm{
  margin-top: 5rem !important;
}
@media all and (max-width:322px){
 .test-mm{
   margin-top: 1.5rem !important;
 }
}
.text-condition-sab{
  font-size: 0.77rem;
  font-weight: 900;
  font-family: "IRANYekanRegular";  
  
}

.containerText{
  right: 0%;
  left: 0%;
}
.icon_insertPhoneNumber{
  width: 17px;
  margin-bottom: 6px;
}

