.icon-container-form {
  position: absolute;
}

.input-inputIcon {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent !important;
  color: #1e272e;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "IRANYekanBold";
  border-bottom: 2px solid #57606f;
}
.input-inputIcon:focus {
  color: #1e272e;
}

.input-inputIcon::placeholder {
  color: #a5b1c2;
}

.img-userName-SignUp {
  width: 20px;
  margin-top: -0.55rem !important;
}

.label-input-formInputIcon {
  font-family: "IRANYekanBold";
  font-size: 1rem;
  color: #808e9b;
}

.input-userName-signUP {
  padding: 0 2rem;
}

.img-userName-codeMorif {
  margin-top: -0.55rem !important;
}
