.add__new__user__list {
  background-color: #0096f5;
  font-family: "IRANYekanBold" !important;
  font-size: 0.75rem;
  color: #fff;
  border: 1px solid #0096f5;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.text__border__bottom {
  border-bottom: 1px solid #b2b2b2;
}

.container_search__activeateButton {
  display: grid;
  grid-template-columns: 60% 35%;
  justify-content: center;
  grid-gap: 0.75rem;
}
.add__new__user__list {
  background-color: #0096f5;
  font-family: "IRANYekanBold" !important;
  font-size: 0.75rem;
  color: #fff;
  border: 1px solid #0096f5;
  padding: 0.4rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
.text__border__bottom {
  border-bottom: 1px solid #b2b2b2;
}

.container_search__activeateButton {
  display: grid;
  grid-template-columns: 60% 35%;
  justify-content: center;
  grid-gap: 0.75rem;
}

/* active */
.button__list_active {
  border-radius: 0.25rem;
  border: 1px solid #0096f5;
  background-color: #0096f5;
  color: white;
  font-family: "IRANYekanBold" !important;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
}
.button__list_active::before {
  content: "\f05e";
  font-family: "fontAwesome";
  /* margin-right: -3rem; */
  padding: 0 0.5rem;
}
.button__list_active::after {
  content: "";
  border-left: 1px solid #eee;
  width: 100%;
  height: 100%;
  padding: 0 0.9rem;
}

/* not active */
.button__list_Notactive {
  border-radius: 0.25rem;
  border: 1px solid #0096f5;
  background-color: #0096f5;
  color: white;
  font-family: "IRANYekanBold" !important;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
}
.button__list_Notactive::before {
  content: "\f007";
  font-family: "fontAwesome";
  /* margin-right: -3rem; */
  padding: 0 0.5rem;
}
.button__list_Notactive::after {
  content: "";
  border-left: 1px solid #eee;
  width: 100%;
  height: 100%;
  padding: 0 0.9rem;
}

.zero_count_list {
  position: absolute;
  left: 1rem;
}

/* table style */
.container__table__ManageBussinesss {
  display: grid;
  grid-template-columns: 96%;
  justify-content: center;
}
.img__table__listCustomer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

/********************border table******************* */
.container__table__ManageBussinesss > table > thead {
  border-top: 1px solid #121923;
  border-right: 1px solid #121923;
  border-left: 1px solid #121923;
}
.container__table__ManageBussinesss > table > thead > tr > th:not(:last-child) {
  border-left: 1px solid #121923;
}
.container__table__ManageBussinesss > table > tbody {
  border: 1px solid #121923;
}
.container__table__ManageBussinesss > table > tbody > tr > td:not(:last-child) {
  border-left: 1px solid #121923;
}
.container__table__ManageBussinesss > table > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #121923;
}
/********************border table******************* */

/****************** style head body table ***************/
.container__table__ManageBussinesss > table > thead > tr > th {
  font-family: "IRANYekanBold" !important;
  font-size: 0.75rem;
  color: #242e36;
  padding: 2px 0;
  text-align: center;
}
.container__table__ManageBussinesss > table > thead > tr > th {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__table__ManageBussinesss > table > tbody > tr > td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "IRANYekanBold" !important;
  font-size: 0.75rem;
  color: #242e36;
  padding: 10px 0;
}
.container__table__ManageBussinesss > table > tbody > tr > td:last-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__table__ManageBussinesss > table > tbody > tr > td:last-child > div > a {
  display: block;
  width: 3.2rem !important;
  background-color: #0096f5;
  color: #fff;
  padding: 0.1rem 0;
}
.container__table__ManageBussinesss
  > table
  > tbody
  > tr
  > td:last-child
  > div
  > a:first-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: 1px solid #00000015;
}
.container__table__ManageBussinesss
  > table
  > tbody
  > tr
  > td:last-child
  > div
  > a:last-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
/***************** style heade table ************************/

/**************** grid item thead tbody *********************/
.container__table__ManageBussinesss > table {
  display: grid;
  grid-template-columns: 100%;
}
.container__table__ManageBussinesss > table > thead {
  display: grid;
  grid-template-columns: 100%;
}

.container__table__ManageBussinesss > table > tbody {
  display: grid;
  grid-template-columns: 100%;
}
.container__table__ManageBussinesss > table > tbody > tr {
  display: grid;
  grid-template-columns: 6% 12.5% 12.5% 12.5% 12.5% 12.5% 18% 12.5%;
}

.container__table__ManageBussinesss > table > thead > tr {
  display: grid;
  grid-template-columns: 6% 12.5% 12.5% 12.5% 12.5% 12.5% 18% 12.5%;
}
@media all and (max-width: 770px) {

  .container__table__ManageBussinesss > table > tbody > tr {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
  }
  .container__table__ManageBussinesss > table > thead > tr {
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
  }
  .container__table__ManageBussinesss > table > thead > tr > th:nth-child(4){
    border-left: none !important;
  }
 
  .container__table__ManageBussinesss > table > thead > tr > th:nth-child(1),
  .container__table__ManageBussinesss > table > thead > tr > th:nth-child(2),
   .container__table__ManageBussinesss > table > thead > tr > th:nth-child(3),
   .container__table__ManageBussinesss > table > thead > tr > th:nth-child(4){
    border-bottom: 1px solid #121923;
    padding: 0.7rem 0;
  }
  .container__table__ManageBussinesss > table > thead > tr > th:nth-child(7){
    border-left: 1px solid #121923;
  }
 
  .container__table__ManageBussinesss > table > tbody > tr > td:nth-child(4){
    border-left: none !important;
    border-bottom: 1px solid #121923;
  }
  .container__table__ManageBussinesss > table > tbody > tr > td:nth-child(5),
  .container__table__ManageBussinesss > table > tbody > tr > td:nth-child(6),
  .container__table__ManageBussinesss > table > tbody > tr > td:nth-child(7) {
    border-top: 1px solid #121923;
    padding: 0.6rem 0;
  }
  .container__table__ManageBussinesss > table > tbody > tr > td:nth-child(7){
   border-left:1px solid #121923;
  }
}

/**************** grid item thead tbody *********************/

/* active */
.button__list_active {
  border-radius: 0.25rem;
  border: 1px solid #0096f5;
  background-color: #0096f5;
  color: white;
  font-family: "IRANYekanBold" !important;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
}
.button__list_active::before {
  content: "\f05e";
  font-family: "fontAwesome";
  /* margin-right: -3rem; */
  padding: 0 0.5rem;
}
.button__list_active::after {
  content: "";
  border-left: 1px solid #eee;
  width: 100%;
  height: 100%;
  padding: 0 0.9rem;
}

/* not active */
.button__list_Notactive {
  border-radius: 0.25rem;
  border: 1px solid #0096f5;
  background-color: #0096f5;
  color: white;
  font-family: "IRANYekanBold" !important;
  font-size: 0.8rem;
  text-align: center;
  position: relative;
}
.button__list_Notactive::before {
  content: "\f007";
  font-family: "fontAwesome";
  /* margin-right: -3rem; */
  padding: 0 0.5rem;
}
.button__list_Notactive::after {
  content: "";
  border-left: 1px solid #eee;
  width: 100%;
  height: 100%;
  padding: 0 0.9rem;
}

.zero_count_list {
  position: absolute;
  left: 1rem;
}

/* table style */
.container__table__list {
  display: grid;
  grid-template-columns: 96%;
  justify-content: center;
}
.img__table__listCustomer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

/********************border table******************* */
.container__table__list > table > thead {
  border-top: 1px solid #121923;
  border-right: 1px solid #121923;
  border-left: 1px solid #121923;
}
.container__table__list > table > thead > tr > th:not(:last-child) {
  border-left: 1px solid #121923;
}
.container__table__list > table > tbody {
  border: 1px solid #121923;
}
.container__table__list > table > tbody > tr > td:not(:last-child) {
  border-left: 1px solid #121923;
}
.container__table__list > table > tbody > tr:not(:last-child) {
  border-bottom: 1px solid #121923;
}
/********************border table******************* */

/****************** style head body table ***************/
.container__table__list > table > thead > tr > th {
  font-family: "IRANYekanBold" !important;
  font-size: 0.75rem;
  color: #242e36;
  padding: 2px 0;
  text-align: center;
}
.container__table__list > table > thead > tr > th {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__table__list > table > tbody > tr {
}
.container__table__list > table > tbody > tr > td {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "IRANYekanBold" !important;
  font-size: 0.75rem;
  color: #242e36;
  padding: 10px 0;
}
.container__table__list > table > tbody > tr > td:last-child > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container__table__list > table > tbody > tr > td:last-child > div > a {
  display: block;
  width: 3.2rem !important;
  background-color: #0096f5;
  color: #fff;
  padding: 0.1rem 0;
}
.container__table__list
  > table
  > tbody
  > tr
  > td:last-child
  > div
  > a:first-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: 1px solid #00000015;
}
.container__table__list
  > table
  > tbody
  > tr
  > td:last-child
  > div
  > a:last-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
/***************** style heade table ************************/

/**************** grid item thead tbody *********************/
.container__table__list > table {
  display: grid;
  grid-template-columns: 100%;
}
.container__table__list > table > thead {
  display: grid;
  grid-template-columns: 100%;
}

.container__table__list > table > tbody {
  display: grid;
  grid-template-columns: 100%;
}
.container__table__list > table > tbody > tr {
  display: grid;
  grid-template-columns: 6% 18.8% 18.8% 18% 20.3% 18.5%;
}

.container__table__list > table > thead > tr {
  display: grid;
  grid-template-columns: 6% 18.8% 18.8% 18% 20.3% 18.5%;
}
@media all and (max-width: 720px) {
  .container__table__list > table > tbody > tr {
    display: grid;
    grid-template-columns: 6% 18.8% 18.8% 16% 22.3% 18.5%;
  }
  .container__table__list > table > thead > tr {
    display: grid;
    grid-template-columns: 6% 18.8% 18.8% 16% 22.3% 18.5%;
  }
}
@media all and (max-width: 630px) {
  .container__table__list > table > thead > tr {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .container__table__list > table > thead > tr > th:nth-child(3) {
    border: none;
  }
  .container__table__list > table > thead > tr > th:nth-child(1),
  .container__table__list > table > thead > tr > th:nth-child(2),
  .container__table__list > table > thead > tr > th:nth-child(3) {
    border-bottom: 1px solid #121923;
    padding: 0.7rem 0;
  }
  .container__table__list > table > tbody > tr {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  .container__table__list > table > tbody > tr > td:nth-child(3) {
    border: none;
  }
  .container__table__list > table > tbody > tr > td:nth-child(4),
  .container__table__list > table > tbody > tr > td:nth-child(5),
  .container__table__list > table > tbody > tr > td:nth-child(6) {
    border-top: 1px solid #121923;
    padding: 0.6rem 0;
  }
}
/**************** grid item thead tbody *********************/
