.label-input-choicePicher {
  font-weight: 900;
  font-size: 1rem !important;
  font-family: "IRANYekanBold";
}
.input-chocie-picker {
  background-color: red;
  border-style: solid;
  border-color: #0096f5;
  padding: 0.24rem 0.5rem !important;
  color: red !important;
  border-top-right-radius: 0.85rem;
  border-bottom-right-radius: 0.85rem;
  font-size: 0.90rem !important;
  font-family: "IRANYekanBold";
}
.css-1huafn2-control{
border-radius: 1rem !important;
}
.css-1eke3cf-control{
  border-radius: 1rem !important;
}
.css-1uccc91-singleValue {
  color: #fff !important;
  font-size: 0.90rem !important;
  font-family: "IRANYekanBold";
}
.css-1yrr65t-placeholder{
  font-family: "IRANYekanBold" !important;
  color: #fff !important;
}
.css-1uccc91-singleValue:focus {
  color: red !important;
}
.css-1uccc91-singleValue{
margin-right: 0.65rem !important;
}
.css-g1d714-ValueContainer {
  text-align: center !important;
  justify-content: center;
}
.img-arrow {
  width: 1.2rem;
  height: 1.2rem;
}
.css-aeqhxf-control {
  cursor: pointer !important;
}
#react-select2-input:active {
  color: red !important;
  text-align: center !important;
  align-items: center !important;
}

.games-dropdown-2 {
  color: rgb(46, 39, 39)(3, 3, 3);
 
  width: 9rem !important;
  padding: 0 !important;
}
.css-yt9ioa-option{
  font-family: "IRANYekanRegular" !important;
}
#react-select-2-input{
  font-size: 0.75rem !important;
  color: #fff !important;
  font-family: "IRANYekanBold" !important;
}
.css-1okebmr-indicatorSeparator{
  width: 0.12rem !important;
  background-color: #fff !important;
  margin: 0 !important;
  padding: 0 !important;
}
.css-1yz6u82-menu{
  border-radius: 0.75rem !important;
  overflow: hidden !important;
  border: none !important;
  box-shadow: none !important;
}